@use "global" as *;

.contact-layout {
	margin-top: rem(80);
	@include mq(md) {
			margin-top: rem(140);
	}
}

.contact-layout--archive-campaign {
	margin-top: rem(106);
	@include mq(md) {
		margin-top: rem(144);
	}
}
.contact-layout--aboutus{
	margin-top: rem(106);
}
.contact-layout--page-information {
	margin-top: rem(108);
		@include mq(md) {
		margin-top: rem(142);
	}
}
.contact-layout--archive-voice {
	margin-top: rem(108);
	@include mq(md) {
	margin-top: rem(144);
	}
}

.contact-layout--page-price {
	margin-top: rem(109);
}
.contact-layout--page-faq{
	margin-top: rem(106);
	@include mq(md) {
	margin-top: rem(145);
	}
}
.contact-layout--single-blog {
	margin-top: rem(109);
}
.contact-layout--page-privacy {
	margin-top: rem(108);
	@include mq(md) {
			margin-top: rem(144);
	}
}

.contact-layout--page-service {
	margin-top: rem(108);
	@include mq(md) {
			margin-top: rem(144);
	}
}
