@use "global" as *;

.footer-layout {
	margin-top:rem(100);
	@include mq(md) {
			margin-top: rem(160);
}}

.footer-layout-01 {
  margin-top: rem(96);
  @include mq(md) {
    margin-top: rem(160);
  }
}
.footer-layout-02 {
  margin-top: rem(144);
		@include mq(md) {
			margin-top: rem(160);
}}
.footer-layout-03 {
  margin-top: 0;
}


.footer-layout--thanks {
  margin-top: rem(148);
	@include mq(md) {
			margin-top: rem(124);
	}
}
.footer-layout--error {
  margin-top: rem(147);
	@include mq(md) {
			margin-top: rem(120);
	}
}
