# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /diving-lily/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /diving-lily/index.php [L]
</IfModule>
# END WordPress


