@use "global" as *;

.archive-campaign-layout {
	margin-top: rem(54);
	@include mq(md) {
			margin-top: rem(150);
	}
}
.archive-campaign {
  margin-inline: auto;
  width: 100%;
  position: relative;
}
.archive-campaign__fish-image {
	width: rem(120);
  position: absolute;
	top:rem(-24);
	left:0;
	z-index: -1;
  @include mq(md) {
		 width: rem(301);
    top: rem(-70);
		left: calc(50% - min(48vw, 38.75rem));
  }
}
.archive-campaign__fish-image img {
	width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 120 / 55;
  @include mq(md) {
    aspect-ratio: 301 / 138;
  }
}
.archive-campaign__category-list {
  margin-inline: auto;
  width: 100%;
}

.archive-campaign__content {
  margin-top: rem(40);
  padding-left: rem(33);
  padding-right: rem(32);
  @include mq(md) {
    padding-left: 0;
    padding-right: 0;
  }
}
.archive-campaign__nav {
	margin-top: rem(82);
	@include mq(md) {
		margin-top: rem(76);
	}
}
