@use "global" as *;

.breadcrumb-wrapper {
	margin-top: rem(12);
	@include mq(md) {
			margin-top: rem(12);
	}
}
.breadcrumb-wrapper--404 {
	background-color: $greenaccent;
		margin-top: rem(80);
		padding-top: rem(12);
	@include mq(md) {
			margin-top: rem(90);
	}
}
.breadcrumb {
	font-size: rem(14);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1;
			letter-spacing: 0;
			color:$font-color;
}
.breadcrumb--404 {
	color:#fff;
}
