@use "global"as *;

.button {
  position: relative;
  width: rem(202);
  vertical-align: bottom;
  display: inline-block;
  text-align: left;
  padding: rem(18) 0 rem(14) rem(38);
  background-color: $greenaccent;
  color: $white;
  font-size: rem(14);
  font-family: $third-font-family;
  font-weight: $regular;
  line-height: 1.57;
  letter-spacing: 0;
  cursor: pointer;
  transition: ease 0.2s;
  box-sizing: border-box;
  /* ボックスサイジングを追加 */
  border: 1px solid transparent;
  /* ホバー前のボーダーを透明に設定 */
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 4px;
  border: 1px solid $greenaccent;
  z-index: -1;
}

.button span {
  text-transform: uppercase;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) skew(45deg);
  width: 40px;
  height: 6px;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  margin-left: rem(12);
  z-index: 1;
}

.button:hover {
  background-color: $white;
  border: 1px solid $greenaccent;
  color: $greenaccent;
}

.button:hover::after {
  border-bottom: 1px solid $greenaccent;
  border-right: 1px solid $greenaccent;
}

.button--send {
  padding: rem(18) 0 rem(14) rem(52);
}
