@use "global"as *;

.campaign-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.campaign-cards__item {
  width: rem(280);
  height: auto;
  margin-right: rem(24);

  @include mq(md) {
    width: rem(334);
    margin-right: rem(40);
  }
}

.campaign-cards__item.swiper-slide {
  width: rem(280);
  height: auto;
  margin-right: rem(24);

  @include mq(md) {
    width: rem(334);
    margin-right: rem(40);
  }
}
