@use "global" as *;

.category-list {
	display: grid;
	justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: rem(21);
  row-gap: rem(16);
	@include mq(md) {
    display: flex;
    flex-direction: row;
		flex-wrap: wrap;
    column-gap: rem(32);
  }
}


.category-list__item {
	text-align: center;
	width: rem(162);
  height: rem(34);
}

.category-list__link {
	width: 100%;
	height: 100%;
	display: flex;
  flex-direction: column;
	justify-content: center;

	font-size: rem(14);
	font-family: $base-font-family;
	font-weight: $regular;
	line-height: 1;
	letter-spacing: 0;
	color:$greenaccent;
	border: 1px solid $greenaccent;
	background-color: $white;
	transition:all 0.3s;
}
.category-list__link.is-current {
	background-color: $greenaccent;
	color:$white;
}
.category-list__link:hover {
	background-color: $greenaccent;
	color:$white;
}
