@use "global" as *;

.container {
  margin-inline: auto;
  width: 100%;
	background-color: pink;
}

.container__fish-image {
  width: rem(120);
  @include mq(md) {
    width: rem(301);
  }
}

.container__fish-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 120 / 55;
  @include mq(md) {
    aspect-ratio: 301 / 138;
  }
}
