@use "global" as *;
.form {
  margin-inline: auto;
  width: 100%;
  @include mq(md) {
    max-width: rem(700);
  }
}
.form__row {
  border-bottom: 1px dotted $greenaccent;
  padding-bottom: rem(22);

  @include mq(md) {
    display: grid;
    grid-template-columns: rem(220) auto;
		padding-bottom: rem(40);
  }
}
.form__row:not(:first-child) {
  padding-top: rem(24);
	@include mq(md) {
		padding-top:rem(40);
	}
}
.form__row--radio {
	@include mq(md) {
		padding-bottom: rem(38);
	}
}


.form__row dt {
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1.4;
  letter-spacing: 0;
}
.form__row dt span {
  display: inline-block;
  text-align: center;
  width: rem(60);
  height: rem(20);
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.67;
  letter-spacing: 0.1em;
  background-color: #c94800;
  color: $white;
  margin-left: rem(8);
	position: relative;
  top: -2px;
}
.form__row dd input {
  width: 100%;
  height: rem(40);
  border: 1px solid $greenaccent;
  margin-top: rem(17);
  @include mq(md) {
    margin-top: 0;
  }
}
.form__radio-wrapper {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
  }
}
.form__radio {
  position: relative;
  display: block; /* 縦並びに */
  padding-left: 22px;
  cursor: pointer;
  user-select: none;
  line-height: 1.7;
}
.form__radio input {
  display: none;
}
.form__radio-mark {
  position: absolute;
  top: 50%; /* 上からの位置 */
  transform: translateY(-50%);
  left: 0;
  height: 14px; /* 大きさ */
  width: 14px; /* 大きさ */
  border: solid 2px $greenaccent; /* 線 */
  box-sizing: border-box;
}
.form__radio-mark--error {
	border-radius: 50%;
}
/* 選択時にチェックマーく */
.form__radio-mark:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 8px;
  top: 0;
  bottom: 2px;
  left: 3px;
  right: 1px;
  opacity: 0; /* 透明にしておく */
  transform: rotate(45deg);
  border-right: 2px solid #c94800; /* チェックマークの色 */
  border-bottom: 2px solid #c94800; /* チェックマークの色 */
}
.form__radio input:checked + .form__radio-mark:after {
  opacity: 1;
}

.form__radio-mark--error::after {
	content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%; /* 上からの位置 */
  transform: translateY(-50%);
  left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	opacity: 0; /* 透明にしておく */
	background-color: #408F95;

}
.form__radio input:checked + .form__radio-mark--error:after {
  opacity: 1;
}




.form__row--message dd {
  width: 100%;
  height: rem(200);
  border: 1px solid $greenaccent;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
  }
}
.form__row--message dd textarea {
	width: 100%;
	height: 100%;
	resize: vertical;
}
.form__outside {
  margin-top: rem(40);
  margin-inline: auto;
  width: 100%;
  padding-left: rem(30);
  padding-right: rem(30);

	@include mq(md) {
			text-align: center;
			margin-top: rem(76);
			padding-left: rem(30);
	}
}

.form__privacy-label {
  display: inline-block;
  position: relative;
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.57;
  letter-spacing: 0;
  text-align: left;
  padding-left: rem(30);
  @include mq(md) {
		padding-left: rem(40);
  }
}
.form__privacy-mark {
  display: inline-block;
  content: "";
  height: 22px;
  width: 22px;
  border: solid 1px $greenaccent;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
	margin-right:40px;
}

.form__privacy-mark::after {
  width: 8px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 6px;
  transform: translateY(50%);
  border-right: 2px solid #c94800; /* チェックマークの色 */
  border-bottom: 2px solid #c94800; /* チェックマークの色 */
  content: "";
  opacity: 1;
  transform: rotate(45deg);
  display: none;
}

.form__privacy-label input:checked + .form__privacy-mark::after {
  display: block;
}

.form__btn {
  text-align: center;
  margin-top: rem(22);
	@include mq(md) {
			margin-top:rem(40);
	}
}
.form__warning {
	margin-inline: auto;
  width: 100%;
  padding-left: rem(60);
	padding-bottom: rem(16);

	@include mq(md) {
		text-align: center;
		padding-left: 8px;
		padding-bottom: 0;
	}
}
.form__warning p{
	color: #c94800;
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.4;
  letter-spacing: 0;
}
.input-error {
  background-color: #ffcccc; /* 淡い赤色 */
}



.form__select {
	margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
  }
}
.form__select-items {
	display: inline-block;
  position: relative;
  width: 100%;
  height: rem(40);
	@include mq(md) {
			height: rem(30);
	}
}
.form__select-items::after {
  content: "";
  position: absolute;
  right: 8px; /* 右端からの位置 */
  top: 50%; /* 上端から中央に配置 */
  transform: translateY(-50%); /* Y軸方向に中央揃え */
  width: 12px;
  height: calc(12px / 2 * tan(60deg));
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: $greenaccent;
}
.form__select-items.no-triangle::after {
  display: none;
}

.form__select-item {
	appearance: none; /* ブラウザのデフォルトスタイルを無効化 */
  -webkit-appearance: none; /* Chrome, Safari用 */
  -moz-appearance: none; /* Firefox用 */
  background-color: white;
  border: 1px solid $greenaccent; /* 枠線 */
	width: 100%;
	height: inherit;
  border: 1px solid $greenaccent;
  padding-left: rem(8);
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0;
}

.form__row.form__row--select {
	@include mq(md) {
		padding-top:rem(34);
	}
}
.form__row.form__row--select dt {
	@include mq(md) {
			margin-top:rem(4);
	}
}
