@use "global" as *;


.fv {
  position: relative;
  margin-inline: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
	@include mq(md) {
		display:flex;
		justify-content: center;
		align-items: center;
	}
}

.fv__slider-wrap {
	overflow: hidden;
}

.fv__slider {
	margin-inline:auto;
	width:100%;
}

.fv__slider-img {
	margin-inline: auto;
  width: 100%;
  height: 100vh;
	@include mq(md) {
		overflow: hidden;
  }
}
.fv__slider-img img {
  display: block;
	width:100%;
	height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  object-fit: cover;
}

.fv__copy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
	width: 100%;
	text-align: center;
	@include mq(md) {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	}
}
.fv__main-title {
	color: #fff;
	font-size: rem(40);
			font-family: $forth-font-family;
			font-weight: $regular;
			line-height: 1;
			letter-spacing: 0.54em;
			text-indent: 0.54em;
			text-transform: uppercase;
			@include mq(md) {
					font-size: rem(80);
					line-height: 1.25;
			}
}
.fv__sub-title {
	color: #fff;
	font-size: rem(20);
			font-family: $third-font-family;
			font-weight: $regular;
			line-height: 1;
			letter-spacing: 0;
			margin-top: rem(10);
			@include mq(md) {
				margin-top: 0;
				line-height: 1.65;
			}
}
