@use "global" as *;
.modal {
	display: none;
  @include mq() {
    display: none;
		position: fixed;
		top:0;
		left:50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100vh;
  }
}

.modal__bg {
	@include mq(md) {
	background: rgba(217, 217, 217, 0.8);
  margin-inline: auto;
	height: 100vh;
    position: absolute;
    width: 100%;
	}
}
.modal__content {
  @include mq(md) {
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
  }
}
