@use "global" as *;
.page-sitemap-layout {
	margin-top:rem(32);
	@include mq(md) {
		margin-top:rem(150);
	}
}
.page-sitemap {

}
.page-sitemap__nav .nav-menu__box {
	color:$font-color;
}
.page-sitemap__fish-image{
		width: rem(120);
  position: absolute;
	top:rem(-24);
	left:0;
	z-index: -1;
  @include mq(md) {
		width: rem(301);
    top: rem(-70);
		left: calc(50% - min(48vw, 38.75rem));
  }
}
.page-sitemap__fish-image img {
	width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 120 / 55;
  @include mq(md) {
    aspect-ratio: 301 / 138;
  }
}
.page-sitemap__contact {
	margin-top:rem(80);
	@include mq(md) {
		margin-top:rem(100);
	}
}
