@use "global" as *;

.page-nav {
  margin-inline: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:rem(40);
}

.page-nav__pager {
  display: flex;
	flex-direction: row;
  justify-content: center;
	align-items: center;
  gap: rem(12);
}

.page-nav__page {
  width: rem(38);
  height: rem(38);
  z-index: 100;
}
//プラグイン用にCSS追加修正している
.wp-pagenavi {
	display: flex;
	flex-direction: row;
	gap:rem(12);
}

.page-nav li {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	border: 1px solid $greenaccent;
  color: $greenaccent;
	transition: all 0.3s;
	width: rem(38);
  height: rem(38);
}
.page-nav li.current {
  background-color: $greenaccent;
  color: $white;
}
.page-nav li:hover {
  background-color: $greenaccent;
  color: $white;
}

.page-nav__arrows {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:rem(82);
}
.page-nav__arrow {
  width: rem(38);
  height: rem(38);
  border: 1px solid $greenaccent;
}
.page-nav__arrow a {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	color:$greenaccent;
	transition: all 0.3s;
}

.page-nav__arrow a:hover {
	background-color: $greenaccent;
	color:$white;
}
