@use "global" as *;
.price-lists {
  width: 100%;
}
.price-lists__item {

  @include mq(md) {
    display: flex;
    flex-direction: column;
  }
}
/* 最初の要素のみに適用されるスタイル */
.price-lists__item:first-child {
  margin-top: 0;
}

/* 2番目以降の要素に適用されるスタイル */
.price-lists__item:not(:first-child) {
  margin-top: rem(40);
}
