@use "global" as *;

.side-voice {
	margin-top: rem(80);
}

.side-voice__content {
	margin-top: rem(24);

}

.side-voice__img {
	width: 100%;
}

.side-voice__img img {
	aspect-ratio: 294 / 218;
	object-fit: cover;
}
.side-voice__caption {
	margin-top: rem(18);
	font-size: rem(12);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.5;
			letter-spacing: 0;
}


.side-voice__title {
	margin-top: rem(8);
	font-size: rem(24);
			font-family: $base-font-family;
			font-weight: $medium;
			line-height: 1.5;
			letter-spacing: 0;
}

.side-voice__button {
	margin-top: rem(42);
	text-align: center;
}
