@use "global" as *;
.swiper {

}


.swiper-button {
	width: rem(80);
	height:rem(80);
	cursor: pointer;
	overflow: hidden;
}
.swiper-button:hover {
	transform: scale(0.8);
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
	display: none;
	@include mq(md) {
		display: block;
		background-repeat: no-repeat;
    background-size: contain;
    height: rem(80);
    width: rem(80);
    position: absolute;
    z-index: 2;
		top:0;
		transition: transform .6s ease;
	}
}


.custom-swiper-button-prev {
    background-image: url(../images/pre-page.png);
    right: rem(184);
}

.custom-swiper-button-next {
    background-image: url(../images/next-page.png);
    right: rem(24);
}

