@use "global" as *;

.tab {
	margin-inline:auto;
	width:100%;
	position: relative;
}

.tab__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: auto;
  width: 100%;
}

.tab__menu {
  color: $greenaccent;
  background: $greenpale;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: rem(102);
  height: rem(60);
	cursor: pointer;
	transition:all 0.3s;

  @include mq(md) {
    width: rem(300);
    height: rem(90);
    padding-top: rem(13);
    padding-bottom: rem(13);
  }
}

.tab__menu.current {
  color: $white;
  background: $greenaccent;
}
.tab__menu:hover {
	color: $white;
  background: $greenaccent;
}

.tab__text {
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.4;
  letter-spacing: 0;
  @include mq(md) {
    position: relative;
    padding-left: rem(72);
    font-size: rem(24);
  }
}

.tab__text::before {
	@include mq(md) {
		content: "";
  display: block;
  width: rem(64);
  height: rem(64);
  background-image: url(../images/icon02.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
	}

}

.tab__text.tab__text--01::before {
	@include mq(md) {
		background-image: url(../images/icon02.png);
	}
}
.tab__text.tab__text--02::before {
	@include mq(md) {
		background-image: url(../images/icon03.png);
	}
}
.tab__text.tab__text--03::before {
	@include mq(md) {
		background-image: url(../images/icon04.png);
	}
}

.current .tab__text::before {
	@include mq(md) {
		content: "";
  display: block;
  width: rem(64);
  height: rem(64);
  background-image: url(../images/icon01.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
	}
}

.current .tab__text.tab__text--01::before {
	@include mq(md) {
		background-image: url(../images/icon01.png);
	}
}
.current .tab__text.tab__text--02::before {
	@include mq(md) {
		background-image: url(../images/icon03R.png);
	}
}
.current .tab__text.tab__text--03::before {
	@include mq(md) {
		background-image: url(../images/icon04R.png);
	}
}
.tab__menu:hover .tab__text.tab__text--01::before {
	@include mq(md) {
		background-image: url(../images/icon01.png);
	}
}
.tab__menu:hover .tab__text.tab__text--02::before {
	@include mq(md) {
		background-image: url(../images/icon03R.png);
	}
}
.tab__menu:hover .tab__text.tab__text--03::before{
	@include mq(md) {
		background-image: url(../images/icon04R.png);
	}
}
.tab__contents {
  width: 100%;
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}
.tab__content {
  display: none;
  width: 100%;
}
